@model IEnumerable<IdentityUser>

<div class="text-center my-5">
    <div class="display-6 border-bottom">Users</div>
</div>

<div class="d-flex justify-content-end">
    <a asp-action="Create" class="btn btn-outline-success">
        <i class="fa fa-solid fa-plus"></i>
        Add User
    </a>
</div>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Roles</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (IdentityUser user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td user-name="@user.UserName" user-role=""></td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn btn-warning rounded-0" asp-action="Update" asp-route-id="@user.UserName">
                            <i class="fa fa-solid fa-edit"></i>
                            Edit</a>
                        <a class="btn btn btn-info rounded-0" asp-action="ResetPassword" asp-route-id="@user.UserName">
                            <i class="fa fa-solid fa-edit"></i>
                            Reset Password</a>
                        <form method="post" asp-action="DeleteOneUser">
                            <input type="hidden" name="UserName" value="@user.UserName" />
                            <button type="submit" class="btn btn-danger rounded-0">
                                <i class="fa fa-solid fa-trash"></i>
                                Delete
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>