@model IEnumerable<Candidate>

@if (Model.Count() > 0)
{
    <h6 class="display-6">
        Applications(@Model.Count())
    </h6>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Full Name</th>
                <th>Apply At</th>
                <th>Course</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Candidate candidate in Model)
            {
                <tr>
                    <td>@candidate.Email</td>
                    <td>@candidate.FullName</td>
                    <td>@candidate.ApplyAt</td>
                    <td>@candidate.SelectedCourse</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">
        There is no application. Please click here to
        <a class="alert-link" asp-action="Apply"> apply. </a>
    </div>
}